@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegurar que el body y html permitan scroll completo */
@layer base {
  html, body {
    @apply h-full w-full;
    overflow-x: hidden;
  }
  
  body {
    @apply m-0 p-0;
  }
}

@keyframes slide-up {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out;
}


/* compoentes/ MantemientoKaban */
/* Oculta la barra de desplazamiento visualmente, pero permite scrollear */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}